﻿/* CSS DIRECTORY 
	GLOBAL
    PRIMARY
	HEADER
	SIDEBAR
	FOOTER
*/

/*COLOR REFERENCES: SEI BRANDING
    Primary: #2A383F (Navy)
    Accent: # (Orange)

*/

/*TYPOGRAPHY REFERENCES: SEI BRANDING
    Primary: Proxima Nova

*/

/*====================================*/
/* ---------->>> GLOBAL <<<-----------*/
/*====================================*/

/*#region Core*/
/* Reset */
* {
    margin: 0;
}

/* HTML AND BODY */
html, body {
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    height: 100%;
    color: #333333;
    font-family: Helvetica;
    font-size: 13px;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* Headers */
h1, h2, h3, h4, h5, h6 {
    font-family: "Proxima Nova Condensed Semibold" Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    padding-bottom: 0;
    color: #666666;
}

    h1 a:link, h2 a:link, h3 a:link, h4 a:link, h5 a:link, h6 a:link {
        padding: 0;
        text-decoration: none;
    }

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* Horizontal Returns */
hr {
    border-color: #CCCCCC;
    margin-bottom: 10px;
    margin-top: 10px;
}

/*Semibold*/
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Proxima Nova Condensed Semibold';
    /*src: url('fonts/ProximaNova/proximanovacond-sbold-webfont.eot');*/
    src:
    /* url('fonts/ProximaNova/ProximaNovaCond-SBold-webfont.eot?#iefix ') format('embedded-opentype'), */
    url('/fonts/ProximaNova/proximanovacond-sbold-webfont.woff') format('woff'), url('/fonts/ProximaNova/proximanovaCond-sbold-webfont.ttf') format('truetype');
}
/* Regular */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Proxima Nova Regular';
    /* src: url('fonts/ProximaNova/proximanovacond-reg-webfont.eot') format('embedded-opentype');*/
    src:
    /*url('fonts/ProximaNova/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),*/
    url('/fonts/ProximaNova/proximanova-reg-webfont.woff') format('woff'), url('/fonts/ProximaNova/proximanovacond-reg-webfont.ttf') format('truetype');
}

/* Bold */
@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: 'Proxima Nova Condensed Bold';
    /*src: url('fonts/ProximaNova/ProximaNovaCond-Bold-webfont.eot');*/
    src:
    /*url('fonts/ProximaNova/ProximaNovaCond-Bold-webfont.eot?#iefix') format('embedded-opentype'),*/
    url('/fonts/ProximaNova/proximanovacond-bold-webfont.woff') format('woff'),url('/fonts/ProximaNova/proximanovacond-bold-webfont.ttf') format('truetype');
}



/*====================================*/
/* --------->>> DASHLETS <<<----------*/
/*====================================*/

.d-dashlet-body {
}

.d-dashlet-pane {
    border-radius: 0 !important;
    margin-bottom: 20px;
    background-color: #FFFFFF;
}

.d-title {
    font-size: 16px !important;
    overflow: hidden;
    padding: 10px 15px !important;
    text-overflow: ellipsis;
    text-shadow: 0 0 !important;
    white-space: nowrap;
    font-family: Arial, sans-serif;
    color: #FFFFFF !important;
    background-color: #2F3F47;
}

.d-commands {
    border: 0 none;
    border-top-right-radius: 3px;
    height: 28px;
    display: none;
    float: right;
    color: white;
}

    .d-commands a {
        margin-top: 10px;
        overflow: hidden;
        width: 30px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        font-size: 14px;
        line-height: 1;
        color: #2F3F47;
        background-color: #2F3F47;
        text-decoration: none;
    }

.d-header {
    background-color: #2F3F47;
}

.d-dashlet-container {
    border-top: 0 !important;
    transition: border-color 0.3s linear 0s;
}

.d-content a:link {
    font: Arial, sans-serif;
    color: #398CC5;
    font-size: 15px !important;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1.3em;
}

.d-content a:visited {
    color: #398CC5 !important;
}

.d-content li {
    line-height: 1em;
    font-size: 14px;
}

/*Dashlet Module Items*/

.d-module-item {
    padding: 8px;
    cursor: move;
    background: white;
    border: 1px solid #e4e4e4;
    height: 120px;
    width: 200px;
    overflow: hidden;
    background-color: #fbfbfb;
    color: #666666;
    text-shadow: 1px 1px 0 #ffffff;
    text-align: center;
    margin-right: 10px;
}

/*Dashlet Carousel Edits - Tab Visibility*/
.groupContainer a {
    color: #398CC5 !important;
}

    .groupContainer a:hover {
        color: #398CC5 !important;
    }

    .groupContainer a:active {
        color: #398cc5 !important;
    }

    .groupContainer a:visited {
        color: #225476;
    }

.nav-tabs > li {
    background-color: #fbfbfb;
}

    .nav-tabs > li > a {
        border: 1px solid #dddddd;
    }

/*Rss Feed Dashlet*/

.rssItems li:nth-child(even) {
    border-bottom: #EFEFEF solid 1.5px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

​
/*Instagram Dashlet - Carousel - Override*/
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    color: #FFFFFF;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-left {
    color: #FFFFFF;
}

.carousel-control {
    opacity: .9;
}

.taskList {
    font-family: 'Proxima Nova Condensed Semibold', Arial, Helvetica, sans-serif;
    font-size: 1.673em;
}

ul.taskList {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.taskList li {
        padding: 7px;
        clear: both;
    }

.taskList thead {
    background-color: #e6e8e3; /*VERY PALE GREY*/
}

.taskList th, .taskList td {
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 1px solid #ddd !important;
    border-collapse: separate !important;
}

#drilldownTask {
    font-size: 13px;
}

.taskList td {
    padding-left: 5px;
}

.fa-caret-down {
    padding: 0 10px;
    color: #999;
}

/*Task List STATUS Circle Icon*/

.error {
    color: #f22035; /*RED*/
}

.completed {
    color: #85bf13; /*GREEN*/
}

.none {
    color: #919191; /*GREY*/
}



/*====================================*/
/* -------->>> NAVIGATION <<<---------*/
/*====================================*/

/*NAVIGATION - PLATFORM DASHBOARD*/

.navbar-fixed-top a {
    outline: none;
    color: white;
    text-decoration: none;
}

    /*.navbar-fixed-top a:link, a:visited, a:active {
        color: #455F6C;
    }*/

    .navbar-fixed-top a:hover {
        color: #455F6C;
    }

.dropdown-menu > li.active > a {
    color: #FB7800 !important;
}

#dashboardNav {
    font-family: 'Proxima Nova Condensed Semibold', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}

    #dashboardNav li a {
        color: #ffffff;
    }

    #dashboardNav li .dropdown-menu li a {
        border-bottom: 1px solid #CDCBC6;
        background-color: #2a383f;
        height: 36px;
        width: 94%;
        font-size: 15px;
    }

    #dashboardNav li .dropdown-menu li:hover {
        background-color: #2A383F;
        color: #398ccf;
    }

/* Set viewport and selection */
@-ms-viewport {
    width: device-width;
}

::selection {
    background: #537FDB;
    color: #fff;
    -webkit-text-shadow: none;
    text-shadow: none;
}
/*#endregion*/

/*#region Left Menu */
.menuLeft {
    position: fixed;
    left: -250px;
    z-index: 100;
    width: 300px;
    height: 100%;
    background-color: #F1F1F1;
    color: #333333;
    -moz-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    -webkit-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

    /* Opened */
    .menuLeft.active {
        left: 0;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
        -moz-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        -webkit-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
        width: 300px;
    }


/* Button */
.innerButton {
    background-color: #F1F1F1;
    float: right;
    width: 50px;
    color: black;
    cursor: pointer;
    line-height: 2em;
    height: 100%;
}

    .innerButton:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    .innerButton #leftMenuButton {
        width: 50px;
        text-align: center;
    }

    .innerButton div:first-child {
        margin: 10px;
        width: 27px;
        height: 28px;
        border: 1px solid #D4D4D4;
        background-color: #FFFFFF;
        text-align: center;
    }

    .innerButton .sideBar_txt {
        margin-top: 50px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        /*filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);*/
        width: 100px;
        margin-left: -25px;
        -ms-transform: rotate(90deg);
    }

.menuLeft.active > .innerButton {
    display: none;
}

/* Links and Input */
.menuLeft a,
.menuLeft .k-in {
    color: #1F97E5;
    text-decoration: none;
    font-size: 13px;
}

    .menuLeft a:hover {
        text-decoration: underline;
    }

    .menuLeft a:link,
    .menuLeft a:visited,
    .menuLeft a:active {
        color: #1F97E5;
    }

    .menuLeft .k-in.k-state-hover {
        border: 1px solid transparent;
        background: inherit;
    }

/* Content */
.menuLeft .innerContent {
    float: left;
    padding: 5px;
    width: 300px;
}

    .menuLeft .innerContent a .highlight {
        background-color: #FFCD00;
        color: black;
    }

    /* Tree View */
    .menuLeft .innerContent .treeViewWrapper {
    }

        .menuLeft .innerContent .treeViewWrapper .search {
            margin-top: 5px;
            width: 96%;
            margin-left: 10px;
            background-color: #FFF;
        }

            .menuLeft .innerContent .treeViewWrapper .search #clearSearch, #clearSearchUDF {
                border: 1px solid lightgray;
                margin: -9px 0 0;
                cursor: pointer;
            }

                .menuLeft .innerContent .treeViewWrapper .search #clearSearch:hover, #clearSearchUDF:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                }

            .menuLeft .innerContent .treeViewWrapper .search input[type=search] {
                width: 99%;
                font-size: 14px;
                height: 30px;
            }

        .menuLeft .innerContent .treeviewWrapper .k-treeview {
            white-space: normal;
        }

#leftNavigationTreeView1 {
    overflow-x: auto;
    overflow-y: auto;
    width: 96%;
    /*color: white;*/
    white-space: normal;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-top: 1px solid rgba(0,0,0,0.1);
    margin-left: 10px;
}

    /*.menuLeft .innerContent .treeviewWrapper #leftNavigationTreeView .k-in {
                }
                #leftNavigationTreeView span.k-in img {
                    display: none;
                    }
 
                .menuLeft .innerContent .treeviewWrapper #leftNavigationTreeView .k-state-hover,
                .menuLeft .innerContent .treeviewWrapper #leftNavigationTreeView .k-state-selected {
                    background: none;
                    text-decoration: underline;
                    cursor: pointer;
                }
 
                .menuLeft .innerContent .treeviewWrapper #leftNavigationTreeView .hidden {
                    display: none;
                }*/
    #leftNavigationTreeView1 ul.list-group {
        padding-bottom: 0;
        margin-bottom: 0;
        color: #1F97E5;
        min-width: 300px;
    }

        #leftNavigationTreeView1 ul.list-group li {
            border-bottom: 1px solid rgba(0,0,0,0.1);
            background-color: #f1f1f1;
            white-space: nowrap;
            padding: 10px 0;
            border-left-width: 0;
            border-right-width: 0;
            width: 100%;
        }

            #leftNavigationTreeView1 ul.list-group li:hover {
                background-color: #f7f7f7;
            }

            #leftNavigationTreeView1 ul.list-group li a {
                padding-left: 5px;
                font-weight: bold;
                padding-right: 10px;
                padding-bottom: 10px;
                padding-top: 10px;
            }

            #leftNavigationTreeView1 ul.list-group li .expand-collapse.glyphicon-chevron-down, #leftNavigationTreeView1 ul.list-group li .expand-collapse.glyphicon-chevron-right {
                margin: 0 3px;
                color: #808080;
                display: none;
            }

        #leftNavigationTreeView1 ul.list-group .list-group-item:first-child, #leftNavigationTreeView1 ul.list-group .list-group-item:last-child {
            border-radius: 0;
        }

        #leftNavigationTreeView1 ul.list-group .list-group-item:first-child {
            border-top: 0 solid rgba(0,0,0,0.1);
        }

        #leftNavigationTreeView1 ul.list-group .list-group-item:last-child {
            border-bottom: 0 solid rgba(0,0,0,0.1);
        }

ul#navlist {
    /*border-top: 1px solid rgba(0,0,0,0.1);*/
}

.menuLeft .innerContent #listViewWrapper #navlist li:first-child {
    border-bottom: 1px solid rgba(0,0,0,0.1);
}

.treeViewWrapper hr {
    box-shadow: 0 1px white;
    margin-bottom: 0;
}

.treeViewWrapper .menu_left_head:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.treeViewWrapper .menu_left_head .expand_left {
    width: 27px;
    height: 28px;
    border: 1px solid #D4D4D4;
    background-color: #FFFFFF;
    text-align: center;
    margin: 0;
    float: right;
}

    .treeViewWrapper .menu_left_head .expand_left:hover, .innerButton div:first-child:hover {
        background-color: rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

.expand_left span.k-icon.k-i-arrowhead-e.k-i-arrowhead-w {
    margin-top: -1px;
}

#leftNavigationTreeView {
    /*overflow-x:hidden;*/
    margin-top: 5px;
}

.no_result {
    /*position: absolute;
top: 100;*/
    font-size: 13px;
    font-weight: bold;
    padding-left: 12px;
    margin-top: 10px;
}

#leftNavigationTreeView .k-plus {
    background-position: 0 -15px;
}

#leftNavigationTreeView .k-minus {
    /*background-position:0 -15px;*/
}

#leftNavigationTreeView .k-group .k-item ul.k-group {
    margin-left: -32px;
    padding-left: 48px;
}

#leftNavigationTreeView .k-group .k-item {
    padding: 3px 0 0 16px;
    line-height: 25px;
}

#leftNavigationTreeView ul.k-group li.k-item ul.k-group li.k-item {
    margin-left: -58px;
    padding-left: 50px;
    /*border-bottom:1px solid red;*/
}

    #leftNavigationTreeView ul.k-group li.k-item ul.k-group li.k-item ul.k-group li.k-item {
        margin-left: 0;
        padding-left: 0;
        /*border-bottom:1px solid red;*/
    }

#leftNavigationTreeView ul.k-group li.k-item .k-top {
    /*border-top:1px solid red;*/
}

#leftNavigationTreeView ul.k-group li.k-item .k-top, #leftNavigationTreeView ul.k-group li.k-item .k-mid, #leftNavigationTreeView ul.k-group li.k-item .k-bot {
    margin-left: -32px;
    padding-left: 32px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*border-top:1px solid red;*/
}

#leftNavigationTreeView ul.k-group li.k-item ul.k-group li.k-item .k-top, #leftNavigationTreeView ul.k-group li.k-item ul.k-group li.k-item .k-mid, #leftNavigationTreeView ul.k-group li.k-item ul.k-group li.k-item .k-bot {
    margin-left: -24px;
    padding-left: 32px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*border-top:1px solid red;*/
    /*border:none;*/
}

#leftNavigationTreeView ul.k-group li.k-item ul.k-group li.k-item ul.k-group li.k-item .k-top,
#leftNavigationTreeView ul.k-group li.k-item ul.k-group li.k-item ul.k-group li.k-item .k-mid,
#leftNavigationTreeView ul.k-group li.k-item ul.k-group li.k-item ul.k-group li.k-item .k-bot {
    margin-left: -40px;
    padding-left: 44px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    /*border-top:1px solid red;*/
    /*border:none;*/
}


/* List View */
.menuLeft .innerContent #listViewWrapper {
    min-height: 300px;
    background: none;
    color: inherit;
    overflow: hidden !important;
    width: 280px;
}

    .menuLeft .innerContent #listViewWrapper #nav {
        /*width:293px;*/
    }

    /* Split View */
    .menuLeft .innerContent #listViewWrapper .km-splitview {
        background: none;
    }

        .menuLeft .innerContent #listViewWrapper .km-splitview .km-pane {
            background: none;
        }

    /* Content */
    .menuLeft .innerContent #listViewWrapper .km-view .km-content {
        overflow-y: auto !important;
        margin-bottom: 10px;
        background: none;
    }

    .menuLeft .innerContent #listViewWrapper .km-view#nav {
        overflow-y: auto !important;
        margin-bottom: 10px;
        background: none;
    }

.k-ie .km-view#nav {
    width: 100%;
}

.menuLeft .innerContent #listViewWrapper .km-view .km-content .km-list li {
    background: none;
}

    .menuLeft .innerContent #listViewWrapper .km-view .km-content .km-list li.km-state-active a {
        background-color: transparent;
        color: #1F97E5;
    }

    .menuLeft .innerContent #listViewWrapper .km-view .km-content .km-list li a {
        margin: 0 -18px 0 0;
        padding: 0 0 5px 2em;
        width: auto;
        line-height: 1.7em;
    }

        .menuLeft .innerContent #listViewWrapper .km-view .km-content .km-list li a:after {
            margin-top: -0.32rem;
        }

        .menuLeft .innerContent #listViewWrapper .km-view .km-content .km-list li a span {
            margin-left: 30px;
        }

        .menuLeft .innerContent #listViewWrapper .km-view .km-content .km-list li a.external:after {
            content: none;
        }

/* Header */
.menuLeft .innerContent #listViewWrapper .km-view .km-header {
    top: initial;
    height: auto;
    border: none;
    background: none;
    color: #333333;
    /*border-bottom: 1px solid rgba(0,0,0,0.1);*/
}

    .menuLeft .innerContent #listViewWrapper .km-view .km-header .km-navbar {
        background: none;
        box-shadow: none;
        -webkit-text-shadow: none;
        text-shadow: none;
    }

        .menuLeft .innerContent #listViewWrapper .km-view .km-header .km-navbar .km-leftitem {
            font: inherit;
        }

            .menuLeft .innerContent #listViewWrapper .km-view .km-header .km-navbar .km-leftitem .km-back {
                border-radius: 0;
            }

        /*.menuLeft .innerContent #listViewWrapper .km-view .km-header .km-navbar .km-leftitem .km-back:after {
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                left: 1em;
                                display: none;
                                width: 12px;
                                background: url("../images/Buttons/back-btn.png") no-repeat scroll 0 0;
                                content: " ";
                            }*/

        .menuLeft .innerContent #listViewWrapper .km-view .km-header .km-navbar .km-view-title {
            box-shadow: none;
            text-align: right;
            font-weight: normal;
            font-size: 24px;
            line-height: 1.4em;
            margin-bottom: 5px;
        }

        .menuLeft .innerContent #listViewWrapper .km-view .km-header .km-navbar .km-leftitem .km-button {
            border: none;
            background-color: none;
            box-shadow: none;
            color: white;
            -webkit-text-shadow: none;
            text-shadow: none;
        }




/*#region Main layout*/
/*#region Header*/
header {
    background-color: #2F3F47;
    height: 50px;
    /*margin-bottom: 20px;*/
}
    /* Navigation */
    header nav {
        font-size: 15px;
        font-family: "Proxima Nova Condensed Semibold";
        border-width: 0;
        background-color: #2F3F47;
        color: #FFFFFF; /* For doc repo*/
    }

        header nav a {
            -moz-box-sizing: content-box;
            -webkit-box-sizing: content-box;
            box-sizing: content-box;
        }

        header nav.navbar-static-top {
            border: none;
        }


        /* Header */
        header nav .navbar-header {
        }

            header nav .navbar-header .navbar-brand {
                margin-right: 10px;
                width: auto;
                height: 49px;
                padding: 0.5em 0 0 0.5em;
                margin-bottom: -4px;
            }

            header nav .navbar-header .navbar-toggle {
                border-color: white;
            }

                header nav .navbar-header .navbar-toggle .icon-bar {
                    background-color: white;
                }

        /* Collapse Panel */
        header nav .navbar-collapse.in {
            background-color: #2F3F47;
        }

            header nav .navbar-collapse.in ul.navbar-nav > li {
                border: none;
            }

                header nav .navbar-collapse.in ul.navbar-nav > li.active a {
                    border: none;
                }

                header nav .navbar-collapse.in ul.navbar-nav > li.dropdown.open a {
                    background-color: transparent;
                    color: white;
                }

                    header nav .navbar-collapse.in ul.navbar-nav > li.dropdown.open a .caret {
                        border-bottom-color: #FFFFFF;
                        border-top-color: #FFFFFF;
                    }

                header nav .navbar-collapse.in ul.navbar-nav > li.dropdown ul.dropdown-menu {
                    background-color: transparent;
                }

                    header nav .navbar-collapse.in ul.navbar-nav > li.dropdown ul.dropdown-menu li a {
                        border-bottom: none;
                        line-height: initial;
                        padding: 5px 15px 5px 25px;
                    }

.navbar.navbar-static-top {
    margin-bottom: 0;
    height: 50px;
}

/* Bar */
header nav .bar {
    height: 4px;
    margin-top: -4px;
    background-color: #B3B6B8;
    z-index: -1;
}


/* Nav Items */
header nav ul.navbar-nav > li {
}

    /* Question */
    header nav ul.navbar-nav > li.question {
        font-weight: bold;
        font-size: 1.4em;
        display: none;
    }

    /* Hover */
    header nav ul.navbar-nav > li > a {
        background-color: transparent;
    }

        header nav ul.navbar-nav > li > a:focus,
        header nav ul.navbar-nav > li > a:hover {
            color: white;
            background-color: #2A383F;
        }

    /* Active */
    header nav ul.navbar-nav > li.active {
        color: #FB7800;
    }

        header nav ul.navbar-nav > li.active > a,
        header nav ul.navbar-nav > li.active > a:link,
        header nav ul.navbar-nav > li.active > a:visited,
        header nav ul.navbar-nav > li.active > a:active,
        header nav ul.navbar-nav > li.active > a:hover {
            color: #FB7800;
            text-decoration: none;
            border-bottom: 4px solid #FB7800;
        }

    /* Drop Down */

    header nav ul.navbar-nav > li.dropdown {
    }

        header nav ul.navbar-nav > li.dropdown > a > .caret {
            border-bottom-color: white;
            border-top-color: white;
            margin-left: 5px;
        }

        header nav ul.navbar-nav > li.dropdown ul.dropdown-menu {
            background-color: #2A383F;
            box-shadow: none;
            border-radius: 0;
            padding: 0;
        }

            header nav ul.navbar-nav > li.dropdown ul.dropdown-menu li {
                height: 35px;
            }

                header nav ul.navbar-nav > li.dropdown ul.dropdown-menu li a {
                    color: #398CC5;
                    line-height: 35px;
                    padding: 0 20px;
                    border-bottom: 1px solid #D4D4D4;
                }

                    header nav ul.navbar-nav > li.dropdown ul.dropdown-menu li a:hover,
                    header nav ul.navbar-nav > li.dropdown ul.dropdown-menu li a:focus {
                        background-color: #2A383F;
                        /*color: white;*/
                    }

        /* Open */
        header nav ul.navbar-nav > li.dropdown.open {
        }

            header nav ul.navbar-nav > li.dropdown.open a {
                background-color: #2A383F; /*From grey to dark navy*/
            }

                header nav ul.navbar-nav > li.dropdown.open a > .caret {
                    border-bottom-color: #ffffff;
                    border-top-color: #ffffff;
                    margin-left: 5px;
                    -webkit-transform: rotate(-180deg);
                    -moz-transform: rotate(-180deg);
                    -ms-transform: rotate(-180deg);
                    width: 0;
                }

#topRightNav li {
    font-family: "Proxima Nova Condensed Semibold";
    /*text-transform:uppercase;*/
    border-left: 1px solid #212c32;
    /*height:50;*/
}

    #topRightNav li .dropdown-menu li, #topRightNav li .dropdown-menu li a, #topRightNav li ul li {
        font-family: helvetica !important;
        border-left: none !important;
        text-transform: capitalize !important;
    }

#topRightNav #sitemenu a, #topRightNav #sitemenu {
    font-family: helvetica;
    text-transform: capitalize !important;
}

@media (min-width: 768px) {
    #topRightNav li {
        font-family: "Proxima Nova Condensed Semibold";
        text-transform: uppercase;
        border-left: 1px solid #212c32;
        height: 50px;
    }

        #topRightNav li a {
            border-left: 1px solid #3d5059;
            font-family: "Proxima Nova Condensed Semibold";
        }

    #topRightNav #sitemenu a, #topRightNav #sitemenu {
        font-family: helvetica;
        text-transform: capitalize !important;
    }

    #topRightNav li .dropdown-menu li, #topRightNav li .dropdown-menu li a, #topRightNav li ul li {
        font-family: helvetica !important;
        border-left: none !important;
        text-transform: capitalize !important;
    }

        #topRightNav li .dropdown-menu li a {
            border-bottom: 1px solid #CDCBC6;
            height: 36px;
        }

        #topRightNav li .dropdown-menu li:hover {
            background-color: #f7F7f7;
            color: #398ccf;
        }

    #topRightNav li .dropdown-menu li {
        height: 37px;
    }

    header nav ul.navbar-nav > li.dropdown ul.dropdown-menu li.appmenu {
        height: 36px;
    }

    ul.dropdown-menu {
        border-bottom: 0 solid transparent;
    }
}

/*#endregion*/

/* Breadcrumb */
.breadcrumb {
    background-color: #2F3F47;
    border-radius: 0;
    margin: 10px 0 0;
    height: 35px;
    font-size: 13px;
    line-height: 35px;
    padding: 0;
}

    .breadcrumb li a.icon {
        margin: 0 0 0 10px;
        padding: 0 0 0 22px;
    }

/* Footer */
footer {
    height: 25px;
    background-color: #2A383F;
    color: White;
    margin-bottom: 0;
    position: fixed;
    width: 100%;
    /*position:absolute;
    bottom:0;
    right:0;*/
}

    footer .bar {
        height: 4px;
        background-color: #B3B6B8;
        /*z-index: -1;*/
        margin-top: -4px;
    }

    footer p {
        margin-left: 60px;
        margin-right: 0;
        padding-top: .7em;
        text-align: right;
        font-size: 12px;
    }

        footer p span {
            margin-right: 10px;
        }

        footer p a {
            color: White;
            text-decoration: none;
            margin-left: 10px;
        }

            footer p a:hover {
                text-decoration: underline;
            }

            footer p a:link, footer p a:visited, footer p a:active {
                color: White;
            }

@media only screen and (max-width : 480px) {
    footer p {
        margin-left: 20px;
        float: left;
        padding-top: .7em;
        font-size: 12px;
    }
}
/* Loading Div*/
#loadingDiv {
    width: 400px;
    min-height: 100%;
    vertical-align: middle;
    margin: auto;
    display: none;
    text-align: center;
    background: url('../Content/kendo/2013.2.918/SEI/loading-image.gif') no-repeat center;
    z-index: 1000;
    position: relative;
}

#modalSpinner {
    -moz-min-width: 100%;
    -ms-min-width: 100%;
    -o-min-width: 100%;
    -webkit-min-width: 100%;
    min-width: 100%;
    min-height: 100%;
    vertical-align: middle;
    margin: auto;
    display: none;
    text-align: center;
    /*background: url('../Content/kendo/2013.2.918/SEI/loading-image.gif') no-repeat center;*/
    background-color: black;
    -ms-opacity: .5;
    opacity: .5;
    position: fixed;
    z-index: 999;
}

/* Container */
.container {
    overflow-y: hidden;
    /*margin-left: 50;*/
    max-width: inherit;
    width: 100%;
    padding: 0;
    z-index: 999;
}

.mainWrapper {
    margin: 20px 50px 0 50px;
    padding: 10px;
}

/* Generic Horizontal List */

ul.hList {
    padding: 0;
}

    ul.hList li {
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        list-style: none;
    }

/*#region Forms*/
/* Fieldset */
fieldset {
    float: left;
}

    fieldset[data-role="controlgroup"] {
        float: right;
        margin: 0;
        padding: 0;
        border: 0;
    }

        fieldset[data-role="controlgroup"] legend {
            display: none;
        }

    fieldset legend {
        border: none;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
        padding: 5px 0 0;
    }

label {
    display: block;
    font-weight: 600;
}

input,
textarea {
    margin: 0;
}

textarea {
    width: 500px;
}

    input:focus,
    textarea:focus {
        border: 1px solid #7ac0da;
    }

input {
}

    input[type=search],
    input[type=text] {
    }

        input[type=text]::-ms-clear,
        input[type=search]::-ms-clear {
            display: none;
        }

        input[type=text]::-webkit-search-cancel-button,
        input[type=search]::-webkit-search-cancel-button {
            display: none;
        }

    input[type="checkbox"],
    input[type="radio"] {
        width: auto;
        border: inherit;
        background: transparent;
    }

        input[type="checkbox"] + label,
        input[type="radio"] + label {
            display: inline-block;
            margin-left: 10px;
            font-weight: normal;
            font-size: 1em;
        }

    input[type="button"],
    button {
        margin-right: 8px;
        padding: 7px;
        width: auto;
        border: 1px solid #787878;
        /*background-color: #d3dce0;*/
        font-weight: 600;
        font-size: 1.2em;
        cursor: pointer;
    }

td input[type="submit"],
td input[type="button"],
td button {
    margin-right: 4px;
    padding: 4px;
    font-size: 1em;
}


/*#endregion*/

/*#region Info and errors*/
.message-info {
    clear: both;
    padding: 10px 20px;
    border: 1px solid;
}

.message-error {
    clear: both;
    margin: 20px 0 10px 0;
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.message-success {
    margin: 20px 0 10px 0;
    color: #7ac0da;
    font-weight: bold;
    font-size: 1.3em;
}

/*#endregion*/

/*#region Validation helpers*/
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error, select.input-validation-error {
    border: 1px solid #e80c4d;
}



input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
/*#endregion*/

/*#region Charts*/
.k-chart {
}

    .k-chart .k-tooltip {
        background-color: #F5F5F5 !important;
        box-shadow: 4px 4px 4px 0 #000000;
    }
/*#endregion*/

/*#region Reporting*/
.reportWrapper {
    padding: 10px;
}
/* Options Pane */
.reportWrapper {
    margin-top: 0;
    margin-bottom: 0;
}

    .reportWrapper .well {
        height: 40px;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
        background-color: transparent;
        border: none;
        border-radius: 0;
        box-shadow: none;
        margin-bottom: 0;
    }

        .reportWrapper .well ul {
            padding: 0;
            margin: 0;
        }

            .reportWrapper .well ul li {
                float: left;
                margin-right: 10px;
                list-style: none;
            }

                .reportWrapper .well ul li h1 {
                    font-size: 26px;
                    line-height: 0;
                }

                .reportWrapper .well ul li .k-autocomplete,
                .reportWrapper .well ul li .k-combobox,
                .reportWrapper .well ul li .k-datepicker,
                .reportWrapper .well ul li .k-timepicker,
                .reportWrapper .well ul li .k-datetimepicker,
                .reportWrapper .well ul li .k-colorpicker,
                .reportWrapper .well ul li .k-numerictextbox,
                .reportWrapper .well ul li .k-dropdown,
                .reportWrapper .well ul li .k-selectbox,
                .reportWrapper .well ul li .k-textbox {
                    min-width: 12.4em;
                    width: auto;
                }

.well ul li .k-select .k-icon.k-i-arrow-s:hover, .well ul li .k-state-focused .k-icon.k-i-arrow-s {
    /*background-image: url('SEI/sprite.png');*/
    background-position: 0 0;
}

#ddlAccount_listbox .k-item, #LstDateTypeDD_listbox .k-item, #InquiryBasesResultDD_listbox .k-item {
    line-height: normal !important;
    background-color: white !important;
    border-bottom: 1px solid lightgrey;
    padding: 10px 5px 5px;
    outline: none !important;
    margin: 0;
    cursor: pointer;
    min-height: 20px;
}

    #ddlAccount_listbox .k-state-focused.k-state-selected, #ddlAccount_listbox .k-list > .k-state-focused.k-state-selected, #ddlAccount_listbox .k-item.k-state-selected.k-state-focused,
    #LstDateTypeDD_listbox .k-state-focused.k-state-selected, #LstDateTypeDD_listbox .k-list > .k-state-focused.k-state-selected, #LstDateTypeDD_listbox .k-item.k-state-selected.k-state-focused,
    #InquiryBasesResultDD_listbox .k-state-focused.k-state-selected, #InquiryBasesResultDD_listbox .k-list > .k-state-focused.k-state-selected, #InquiryBasesResultDD_listbox .k-item.k-state-selected.k-state-focused {
        line-height: normal !important;
        background-color: #45626f !important;
        min-height: 20px;
        padding: 10px 5px 5px;
        outline: none !important;
        margin: 0;
    }

#ddlAccount_listbox .k-state-hover, #LstDateTypeDD_listbox .k-state-hover, #InquiryBasesResultDD_listbox .k-state-hover {
    background-color: #E0EAEE !important;
    border-width: 0;
    min-height: 20px;
    border-style: none;
    border-bottom: 1px solid lightgrey;
}

#ddlAccount_listbox .k-state-selected,
#LstDateTypeDD_listbox .k-state-selected,
#InquiryBasesResultDD_listbox .k-state-selected {
    color: white;
    border-width: 0;
    min-height: 20px;
    border-style: none;
    border-bottom: 1px solid lightgrey;
}
/*.k-animation-container.km-popup .k-popup ul li {
     line-height:normal!important;
}*/
/* Tab Strip */
.reportWrapper .k-header {
    -ms-touch-action: none;
    touch-action: none;
}

.reportWrapper .k-tabstrip {
    border: medium none;
    background: none;
}

    .reportWrapper .k-tabstrip .k-tabstrip-items {
        border-bottom: 1px solid #EEEEEE;
    }

        .reportWrapper .k-tabstrip .k-tabstrip-items .k-item:last-child {
            margin-left: 5px;
        }

        .reportWrapper .k-tabstrip .k-tabstrip-items .k-item:first-child {
            margin-left: 15px;
        }

    .reportWrapper .k-tabstrip .k-content {
        padding: 0.3em 0;
        border: none;
        background: none;
    }

/* Grid */
.reportWrapper .k-grid {
    -webkit-box-shadow: none;
    box-shadow: none;
}

    .reportWrapper .k-grid .k-grid-pager {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .reportWrapper .k-grid .k-grid-content {
    }

        .reportWrapper .k-grid .k-grid-content .noData {
            font-weight: bold;
            margin-top: 20px;
            text-align: center;
        }

        .reportWrapper .k-grid .k-grid-content td {
            border-style: none;
        }

        .reportWrapper .k-grid .k-grid-content tr:hover {
            background-color: #F3F3F3;
        }

        .reportWrapper .k-grid .k-grid-content .k-alt {
            background: none;
        }

            .reportWrapper .k-grid .k-grid-content .k-alt td {
                border-top: 1px solid #D9DDDF;
                border-bottom: 1px solid #D9DDDF;
            }

    .reportWrapper .k-grid .k-grid-edit-row input {
        width: 80%;
    }

    /* Details */
    .reportWrapper .k-grid .k-grid-content .k-detail-cell > div {
        overflow: auto;
    }

        .reportWrapper .k-grid .k-grid-content .k-detail-cell > div table {
            width: auto;
        }

            .reportWrapper .k-grid .k-grid-content .k-detail-cell > div table tbody tr th,
            .reportWrapper .k-grid .k-grid-content .k-detail-cell > div table tfoot tr th {
                min-width: 150px;
                text-align: left;
            }

            .reportWrapper .k-grid .k-grid-content .k-detail-cell > div table tr tbody td,
            .reportWrapper .k-grid .k-grid-content .k-detail-cell > div table tr tfoot td {
                padding: 5px 15px;
            }

/* Misc. */
.reportWrapper .status {
    color: #7F7F7F;
    text-align: right;
}
/*#endregion*/



/* Color Picker */
.k-window .optionTabHolder .k-colorpicker {
    display: block;
    margin-bottom: 10px;
}


/*#region Icons*/
.icon {
    margin: 10px;
    width: 20px;
    height: 20px;
    -moz-background-size: 20px !important;
    -o-background-size: 20px !important;
    -webkit-background-size: 20px !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    cursor: pointer;
}

    /* Edit */
    .icon.icon-edit {
        background-image: url(../Images/Buttons/edit.png) !important;
    }

        .icon.icon-edit:hover {
            background-image: url(../Images/Buttons/edit-hover.png) !important;
        }

    /* Export */
    .icon.icon-export {
        background-image: url(../Images/Buttons/export.png) !important;
    }

        .icon.icon-export:hover {
            background-image: url(../Images/Buttons/export-hover.png) !important;
        }

    /* Export */
    .icon.icon-print {
        background-image: url(../Images/Buttons/print.png) !important;
    }

        .icon.icon-print:hover {
            background-image: url(../Images/Buttons/print-hover.png) !important;
        }

    /* Save */
    .icon.icon-save {
        background-image: url(../Images/Buttons/save.png) !important;
    }

        .icon.icon-save:hover {
            background-image: url(../Images/Buttons/save-hover.png) !important;
        }

    /* Delete */
    .icon.icon-delete {
        background-image: url(../Images/Buttons/delete.png) !important;
    }

        .icon.icon-delete:hover {
            background-image: url(../Images/Buttons/delete-hover.png) !important;
        }

    /* Schedule */
    .icon.icon-schedule {
        background-image: url(../Images/Buttons/schedule.png) !important;
    }

        .icon.icon-schedule:hover {
            background-image: url(../Images/Buttons/schedule-hover.png) !important;
        }

    /* Dashboard */
    .icon.icon-dashboard {
        background-image: url(../Images/Buttons/dashboard.png) !important;
    }

        .icon.icon-dashboard:hover {
            background-image: url(../Images/Buttons/dashboard-hover.png) !important;
        }

    /* Refresh */
    .icon.icon-refresh {
        background-image: url(../Images/Buttons/refresh.png) !important;
    }

        .icon.icon-refresh:hover {
            background-image: url(../Images/Buttons/refresh-hover.png) !important;
        }

    /* Open Report */
    .icon.icon-open-report {
        background-image: url(../Images/Buttons/open-report.png) !important;
    }

        .icon.icon-open-report:hover {
            background-image: url(../Images/Buttons/open-report-hover.png) !important;
        }

    /* Report */
    .icon.icon-report {
        background-image: url(../Images/Buttons/report.png) !important;
    }

    /* Folder */
    .icon.icon-folder {
        background-image: url(../Images/Buttons/folder.png) !important;
    }

    /* Help */
    .icon.icon-help {
        background-image: url(../Images/Buttons/help.png) !important;
    }
/*#endregion*/

/*#region Tom's design changes */
.k-window-title {
    font-size: 18px;
    font-family: "Proxima Nova Condensed Bold";
    color: black;
}
/*#endregion*/

/*#region UDF*/

/*arrows*/
.UDFarrowHolder {
    display: inline;
    float: left;
    margin: auto;
    padding: 55px 0 0;
    text-align: center;
}

.k-filename {
    min-width: 270px;
    max-width: 350px;
}


/*#region Expander*/
/*Expander*/
h2, p, ol, ul, li {
    margin: 0;
    padding: 0;
}

#container {
    width: 1342px;
    margin: auto;
    margin-top: 0;
    height: 100%;
}
/* --------- COLLAPSIBLE PANELS ----------*/
.expandable-panel {
    width: 100%;
    position: relative;
    min-height: 5px;
    overflow: hidden;
    margin-bottom: 5px;
    border: 1px solid #999;
}

.expandable-panel-heading {
    width: 100%;
    cursor: pointer;
    min-height: 15px;
    clear: both;
    background-color: #E5E5E5;
    position: relative;
}

    .expandable-panel-heading:hover {
        color: #666;
    }

    .expandable-panel-heading h2 {
        padding: 7px 2px 5px 7px;
        font-size: 18px;
        line-height: 20px;
    }

.expandable-panel-content {
    padding: 0 15px 0 15px;
    margin-top: -999px;
}

    .expandable-panel-content p {
        padding: 4px 0 6px 0;
    }

        .expandable-panel-content p:first-child {
            padding-top: 10px;
        }

        .expandable-panel-content p:last-child {
            padding-bottom: 15px;
        }

.icon-close-open {
    position: absolute;
    right: 15px;
    top: -3px;
    font-size: larger;
    font-weight: bolder;
}
/*#endregion*/
/*#endregion*/

.GraphTabDD {
    width: 170px;
}

/*#region Buttons */
a.btn {
    text-decoration: none;
}


.dropdown-menu a {
    text-decoration: none;
}
/*#endregion*/

/*#region Mobile/Low Resolution Specific*/
@media only screen and (max-width: 830) {
    header nav > ul > li {
        width: auto;
        min-width: 75px;
    }

        header nav > ul > li:last-child {
            min-width: 45px;
        }
}
/* iPad*/
@media only screen and (device-width: 768px), only screen and (device-width: 768px) and (-webkit-min-device-pixel-ratio: 1) and (orientation: portrait), only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
}
/*#endregion*/

/*Empty dashboard*/
.noTiles {
    width: 600px; /*border:1px solid black;*/
    height: 430px;
    padding: 0;
    margin: 80px auto 0;
    display: none;
}


.image_div {
    margin: 50px auto 10px; /*border:1px solid black;*/
    width: 534px;
    height: 189px;
}

.title {
    color: #333;
    height: 30px;
    margin-bottom: 0;
    font-family: Proxima Nova Condensed Bold, helvetica;
    font-size: 30px;
    padding: 0;
    font-weight: semi-bold;
    position: relative;
}

.d-module-container {
    border: 1px solid #dbdbdb;
    clear: both;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    background-color: #fff;
    padding: 10px;
    height: 200px;
}

.dashboard-title {
    margin-left: 20px;
    color: #666666;
    margin-top: 0 !important;
}

.top-navbar {
}

.designSwitch {
    margin-right: 20px;
}

#pageContainer {
    opacity: 0;
}

.navbar-arrow.left {
    float: left;
    margin-right: 5px;
}

.navbar-arrow {
    cursor: pointer;
    font-size: 32px;
    color: #7f7d7d;
    margin-top: 40px;
}

    .navbar-arrow.right {
        float: right;
        margin-left: 5px;
    }

    .navbar-arrow.disabled {
        display: none;
    }

.d-drop-indicator {
    border-color: green !important;
}
/*
.d-module-item {
    padding: 8px;
    cursor: move;
    background: white;
    border: 1px solid #e4e4e4;
    height: 120;
    width: 200;
    overflow: hidden;
    text-decoration: none;
    background-color: #fbfbfb;
    color: #666666;
    text-shadow: 1px 1px 0 #ffffff;
    text-align: center;
    margin-right: 10;
}
*/
.d-module-item:hover {
    border-color: rgb(136, 135, 135);
}

.d-module-item.dragNode {
    list-style: none;
}


.d-module-item .glyphicon {
    font-size: 24px;
    width: 25px;
    height: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.d-module-item h4 {
}

.d-module-item p {
    font-size: 95%;
    color: #bdbdbd;
    margin-top: 10px;
}


.d-module-container .panel-body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.d-styles-list {
    padding-top: 9px;
}

.nav .d-styles-list a {
    width: 32px !important;
    height: 32px !important;
    margin-right: 8px !important;
}

.themeStylesList a:hover {
    border: 1px dashed #111;
}

.dashTools {
    border-radius: 0;
    background-color: #ffffff;
}

.createDashboardLink {
    color: #ddd !important;
}

.appBusy {
    background-color: #FFF1A8;
    color: black;
    left: 0;
    padding: 3px 6px;
    position: fixed;
    bottom: 0;
    z-index: 10000;
}

.dashStatus {
    background-repeat: no-repeat;
    background-position: center center;
    height: 90px;
    width: 90px;
    text-align: center;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    background-color: #fff;
    font-size: 90%;
    color: gray;
    left: 50%;
    padding: 3px 6px;
    position: fixed;
    top: 0;
    z-index: 10000;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    -moz-box-shadow: rgba(0,0,0,0.246094) 0 -3px 5px, rgba(0,0,0,0.246094) 0 3px 5px;
    -webkit-box-shadow: rgba(0,0,0,0.246094) 0 -3px 5px, rgba(0,0,0,0.246094) 0 3px 5px;
    box-shadow: rgba(0,0,0,0.246094) 0 -3px 5px, rgba(0,0,0,0.246094) 0 3px 5px;
}

.d-dashboard-loadStatus {
    width: auto !important;
    height: auto !important;
    min-height: 25px;
}



.demo-content {
}

    .demo-content h1, .demo-content h2, .demo-content h3 {
        font-weight: bold;
        display: block;
        margin-bottom: 3px;
        line-height: 20px;
    }

.homeNote .d-dashlet-content {
    padding: 0;
    background-color: #E6E6E6;
}

.homeNote div.col {
    padding: 7px;
}


.homeRow1 .d-dashlet-content {
    height: 350px;
}

.homeRow2 .d-dashlet-content {
    height: 500px;
}

.homeRow3 .d-dashlet-content {
    height: 350px;
}

.j-theme-flat.j-style-w .d-dashlet-pane {
    -webkit-box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.30);
    -moz-box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.30);
    box-shadow: 1px 1px 1px rgba(200, 200, 200, 0.30);
}

.h220 .d-dashlet-content {
    height: 220px;
}

.d-dashboard-content {
    overflow: visible !important;
}

/* J-THEME STYLES ** Most likely will remove all this! **/

/*  body.j-theme-flat.j-style-b {
        background-color: #2d2d30;
        background: #111 url(../images/dark_leather.jpg) repeat center center;
    }

        body.j-theme-flat.j-style-b .d-module-container {
            background-color: #2d2d30;
            border-color: #222;
        }

        body.j-theme-flat.j-style-b .d-module-item {
            background-color: #222;
            text-shadow: none;
            border-color: #222;
        }

       body.j-theme-flat.j-style-b .d-dashlet-content {
            color: #f9f6f6;
        }

        body.j-theme-flat.j-style-b .sloganContainer {
            background-color: #222;
            border-color: #080808;
            -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.246094);
            -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.246094);
            box-shadow: 1px 1px 1px rgba(0,0,0,0.246094);
            color: #f9f6f6;
        }

        body.j-theme-flat.j-style-b .dashTools {
            background-color: #222;
            border-color: #080808;
        }

            body.j-theme-flat.j-style-b .dashTools a:hover {
                color: #ffffff;
            }

            body.j-theme-flat.j-style-b .dashTools .navbar-default .navbar-nav > .open > a,
            body.j-theme-flat.j-style-b .dashTools.navbar-default .navbar-nav > .open > a:hover,
            body.j-theme-flat.j-style-b .dashTools.navbar-default .navbar-nav > .open > a:focus {
                background-color: #111;
            }

            body.j-theme-flat.j-style-b .dashTools .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
                background-color: #222;
            }

        body.j-theme-flat.j-style-b .d-dashlet-content a {
        }



        body.j-theme-flat.j-style-b .sloganContainer h1 {
            -webkit-text-shadow: 1px 1px 2px black;
            text-shadow: 1px 1px 2px black;
        }
      */

#dashboardDropdown {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* Frame */
.frame {
}

    .frame ul {
        list-style: none;
        margin: 0;
        padding: 0;
        height: 100%;
    }

        .frame ul li {
            float: left;
        }

            .frame ul li.active {
            }

/* Scrollbar */
.scrollbar {
    margin: 10px 0 0 0;
    height: 2px;
    background: #ccc;
    line-height: 0;
}

    .scrollbar .handle {
        width: 100px;
        height: 100%;
        background: #292a33;
        cursor: pointer;
    }

        .scrollbar .handle .mousearea {
            position: absolute;
            top: -9px;
            left: 0;
            width: 100%;
            height: 20px;
        }

/* Pages - The circles that show up to indicate there is more than one dashboard...*/


.pages {
    list-style: none;
    margin: 8px 0;
    padding: 0;
    text-align: center;
}

    .pages li {
        display: inline-block;
        width: 14px;
        height: 14px;
        margin: 0 4px;
        text-indent: -999px;
        border-radius: 10px;
        cursor: pointer;
        overflow: hidden;
        background: #fff;
        /* box-shadow: inset 0 0 0 1px rgba(0,0,0,.2); */
    }

        .pages li:hover {
            /*  background: #aaa; */
        }

        .pages li.active {
            /* background: #666;*/
        }



/* Effects */
.effects {
    -webkit-perspective: 300px;
    -ms-perspective: 300px;
    -moz-perspective: 300px;
    perspective: 300px;
    -webkit-perspective-origin: 50% 50%;
    -ms-perspective-origin: 50% 50%;
    -moz-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    overflow-y: visible;
}

    .effects ul {
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
    }

        .effects ul li {
            position: relative;
            -webkit-transform: rotateY(20deg) scale(0.9);
            -ms-transform: rotateY(20deg) scale(0.9);
            -moz-transform: rotateY(20deg) scale(0.9);
            -o-transform: rotateY(20deg) scale(0.9);
            transform: rotateY(20deg) scale(0.9);
            -webkit-transition: -webkit-transform 300ms ease-out;
            -moz-transition: transform 300ms ease-out;
            -o-transition: transform 300ms ease-out;
            transition: transform 300ms ease-out;
        }

            .effects ul li.active {
                z-index: 10;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                -moz-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }

                .effects ul li.active ~ li {
                    -webkit-transform: rotateY(-60deg) scale(0.9);
                    -ms-transform: rotateY(-60deg) scale(0.9);
                    -moz-transform: rotateY(-60deg) scale(0.9);
                    -o-transform: rotateY(-60deg) scale(0.9);
                    transform: rotateY(-60deg) scale(0.9);
                }

.dashletModules {
    clear: both;
}

.form-group .col-md-6 {
    padding-left: 0;
}

.sb-container {
    position: relative;
    width: 150px;
    height: 300px;
    margin: 30px auto 0 auto;
}

    .sb-container div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background: #fff;
        height: 100%;
        border-radius: 5px;
        box-shadow: -1px -1px 1px rgba(0,0,0,0.1);
        cursor: pointer;
        text-align: center;
        -webkit-transform-origin: 25% 90%;
        -moz-transform-origin: 25% 90%;
        -o-transform-origin: 25% 90%;
        -ms-transform-origin: 25% 90%;
        transform-origin: 25% 90%;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        -o-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
    }

        .sb-container div:nth-child(1) {
            background-color: #ea2a29;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 1px 1px 1px rgba(0,0,0,0.1), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(2) {
            background-color: #f16729;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 2px 2px 1px rgba(0,0,0,0.1), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(3) {
            background-color: #f89322;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 3px 3px 2px rgba(0,0,0,0.2), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(4) {
            background-color: #ffcf14;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 4px 4px 4px rgba(0,0,0,0.2), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(5) {
            background-color: #ffea0d;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 5px 5px 6px rgba(0,0,0,0.3), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(6) {
            background-color: #87b11d;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 6px 6px 8px rgba(0,0,0,0.3), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(7) {
            background-color: #008253;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 7px 7px 10 rgba(0,0,0,0.4), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(8) {
            background-color: #3277b5;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 8px 8px 12px rgba(0,0,0,0.4), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(9) {
            background-color: #4c549f;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 9px 9px 14px rgba(0,0,0,0.4), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(10) {
            background-color: #764394;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 10 10 16px rgba(0,0,0,0.4), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }

        .sb-container div:nth-child(11) {
            background-color: #ca0d86;
            box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 11px 11px 18px rgba(0,0,0,0.4), inset 0 3px 0 rgba(255, 255, 255, 0.2);
        }



    .sb-container div {
        background-color: #ea2a29;
        box-shadow: -1px -1px 3px rgba(0,0,0,0.1), 5px 5px 6px rgba(0,0,0,0.3), inset 0 3px 0 rgba(255, 255, 255, 0.2);
    }





        .sb-container div:last-child:after {
            content: '';
            position: absolute;
            bottom: 15px;
            left: 15px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #dddddd;
            background: -moz-linear-gradient(-45deg, #dddddd 0%, #58535e 48%, #889396 100%);
            background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#dddddd), color-stop(48%,#58535e), color-stop(100%,#889396));
            background: -webkit-linear-gradient(-45deg, #dddddd 0%,#58535e 48%,#889396 100%);
            background: -o-linear-gradient(-45deg, #dddddd 0%,#58535e 48%,#889396 100%);
            background: -ms-linear-gradient(-45deg, #dddddd 0%,#58535e 48%,#889396 100%);
            background: linear-gradient(135deg, #dddddd 0%,#58535e 48%,#889396 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#889396',GradientType=1 );
            box-shadow: -1px -1px 1px rgba(0,0,0,0.7), 1px 1px 1px rgba(255,255,255,0.1);
        }

        .sb-container div h4 {
            color: rgba(255,255,255,0.9);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            font-weight: 700;
            font-size: 16px;
            text-transform: uppercase;
            border-top: 1px dashed rgba(0,0,0,0.1);
            border-bottom: 1px dashed rgba(0,0,0,0.1);
            margin: 5px;
            padding: 5px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            -ms-text-overflow: ellipsis;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
        }

span.sb-icon {
    display: block;
    margin: 20px auto;
    font-size: 32px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ff-active {
    background: #111 url(../images/dark_leather.jpg) repeat center center !important;
    z-index: 1;
}

.sb-container .btnContainer {
    display: none;
    padding: 5px;
    text-align: center;
    margin-top: 10px;
}

.ff-active .btnContainer {
    display: block;
}

.ff-active .sb-icon {
    display: none;
}

.dashboardsWrap {
    position: relative;
}

/*=== RSS LIST DASHLET===*/

ul.rssList {
    list-style: none;
    margin: 0;
    padding: 0;
}

    ul.rssList li {
        padding: 7px;
        clear: both;
    }

/*Weather Board*/
.weatherBoard {
    padding: 20px;
    width: 400px;
}

.weatherBoard {
    box-sizing: content-box;
}

    .weatherBoard .location h1 {
        margin: 0;
        font-size: 22px;
        color: #323232;
        float: right;
    }

    .weatherBoard .location span {
        display: block;
        margin: 5px 0 0 0;
        font-size: 12px;
        color: #928b8a;
        float: right;
    }

    .weatherBoard .current {
        overflow: auto;
    }

        .weatherBoard .current img {
            float: left;
            width: 176px;
            height: 157px;
        }

        .weatherBoard .current .temp {
            float: right;
            margin: 25px 0 0 10px;
            font-size: 60px;
            font-weight: bold;
            color: #006fbb;
        }

        .weatherBoard .current .conditions {
            clear: both;
            font-size: 14px;
            color: #8e8786;
        }

            .weatherBoard .current .conditions span {
                color: #323232;
            }

    .weatherBoard .forecast {
        width: 100%;
        margin: 15px 0 0 0;
        padding: 15px 0 0 0;
        border-top: 1px solid #dbd9d8;
        overflow: hidden;
    }

        .weatherBoard .forecast li {
            float: left;
            list-style-type: none;
            text-align: center;
            width: 19%;
        }

            .weatherBoard .forecast li:first-child {
                margin: 0;
            }

            .weatherBoard .forecast li .day {
                display: block;
                margin: 0 0 5px 0;
                font-size: 14px;
                font-weight: bold;
                color: #979797;
            }

            .weatherBoard .forecast li img {
                width: 40px;
                height: 40px;
            }

            .weatherBoard .forecast li .high {
                display: block;
                margin: 5px 0 0 0;
            }

            .weatherBoard .forecast li .low {
                display: block;
                margin: 5px 0 0 0;
                color: #8e8786;
            }

.clear-both {
    clear: both !important;
}

.groupContainer {
    margin-left: 20px;
    margin-bottom: 10px;
}

.appnavbar {
    background-color: rgba(45, 45, 48, 0.84);
}

/*====================================*/
/* ---->>> DOCUMENT REPOSITORY <<<----*/
/*====================================*/


/* Left Navigation */

.left-nav-menu {
    background: #F6F6F6;
    bottom: 45px;
    display: block;
    height: 100%;
    margin: 0 0 0 -15px;
    overflow: auto;
    padding: 15px;
    position: fixed;
    top: 55px;
    width: 260px;
<<<<<<< HEAD
    overflow: auto;
    
=======
>>>>>>> develop
}

    .left-nav-menu a {
        color: #398CC5;
    }

        .left-nav-menu a:hover {
            color: #398CC5;
        }

.main-menu-inner {
    padding: 200px;
}

.page-header {
    background: #FFFFFF;
    border-bottom: 1px solid #E4E4E4;
    margin: 0;
    position: relative;
    /*padding: 20 18px;*/
}

.doc-repo-body {
    margin: 0 0 20px;
    width: 100%;
    overflow: hidden;
}

#page-content-wrapper {
    width: 100%;
    position: relative;
    padding: 15px;
}

.doc-description {
    color: #999999;
}

/* Bootstrap Overrides for Document Repository*/

.panel {
    background-color: #F6F6F6;
    border: 0;
    box-shadow: none;
}

.left-nav-menu .panel-heading {
    /* color: #666666;*/
}

.panel .glyphicon {
    padding: 0 7px 0 5px;
}

.panel-default > .panel-heading .badge {
    background-color: #f22035;
}

.list-group-item {
    background-color: #F6F6F6;
}

.table .glyphicon-file {
    color: #CCCCCC;
    font-size: 19px;
}

.table a {
    color: #337ab7;
    text-decoration: none;
}

/*Pagination for Document Repository */

.pagination {
    height: 36px;
    margin: 18px 0;
}

    .pagination ul {
        display: inline-block;
        *display: inline;
        /* IE7 inline-block hack */
        *zoom: 1;
        margin-left: 0;
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }

    .pagination li {
        display: inline;
    }

    .pagination a {
        float: left;
        padding: 0 14px;
        line-height: 34px;
        text-decoration: none;
        border: 1px solid #ddd;
        border-left-width: 0;
    }

        .pagination a:hover,
        .pagination .active a {
            background-color: #f5f5f5;
        }

    .pagination .active a {
        color: #999999;
        cursor: default;
    }

    .pagination .disabled span,
    .pagination .disabled a,
    .pagination .disabled a:hover {
        color: #999999;
        background-color: transparent;
        cursor: default;
    }

    .pagination li:first-child a {
        border-left-width: 1px;
        -webkit-border-radius: 3px 0 0 3px;
        -moz-border-radius: 3px 0 0 3px;
        border-radius: 3px 0 0 3px;
    }

    .pagination li:last-child a {
        -webkit-border-radius: 0 3px 3px 0;
        -moz-border-radius: 0 3px 3px 0;
        border-radius: 0 3px 3px 0;
    }

.pagination-centered {
    text-align: center;
}

.pagination-right {
    text-align: right;
}

.pager {
    margin-left: 0;
    margin-bottom: 18px;
    list-style: none;
    text-align: center;
    *zoom: 1;
}

    .pager:before,
    .pager:after {
        display: table;
        content: "";
    }

    .pager:after {
        clear: both;
    }

    .pager li {
        display: inline;
    }

    .pager a {
        display: inline-block;
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        border-radius: 15px;
    }

        .pager a:hover {
            text-decoration: none;
            background-color: #f5f5f5;
        }

    .pager .next a {
        float: right;
    }


    .pager .previous a {
        float: left;
    }

    .pager .disabled a,
    .pager .disabled a:hover {
        color: #999999;
        background-color: #fff;
        cursor: default;
    }

    .wrapper {
         
            padding: 0 20px;
            
    }

    .page-wrapper {
        padding: 30px;
        margin: 0 0 0 34px;
    }

.folder {
    margin-left: 10px;
    cursor: pointer;
}

.liTitle {
    margin-left: 5px;
    line-height: 1.8em;
    letter-spacing: .01em;
}

.liTitle.selected {
    color: #398CC5;
}

.document {
    margin-left: 10px;
    cursor: pointer;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
