﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Document Repository</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />

    <!--KendoUI Stylesheets-->
    <link href="~/Content/kendo/2013.2.918/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Content/kendo/2013.2.918/kendo.sei.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/togglenav.js"></script>

    <!--KendoUI Scripts-->
    <script src="~/Scripts/kendo/2013.2.918/kendo.all.min.js"></script>
</head>

<body>
    <div class="container-fluid">
        <!-- Fixed navbar -->
        <header>
            <nav class="navbar navbar-fixed-top">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/"><img src="~/Content/logos/SEI-Logo2.png" /></a>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul id="dashboardNav" class="nav navbar-nav navbar-left">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="siteDropDown"> DOCUMENT REPOSITORY<b class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu">                            
                                <li><a href="@ViewBag.DashboardUrl">IMS Platform Dashboard</a></li>
                                <li><a href="@ViewBag.TaskUiUrl">Workflow</a></li>
                              
                            </ul>
                        </li>
                    </ul>

                    <ul id="topRightNav" class="nav navbar-nav navbar-right">

                        @*<li class="dropdown appsMenu active">
                            <a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-expanded="false">Dashboards<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">

                                <li class="active"><a href="#">Dashboards</a></li>
                                <li><a href="#">Operations </a></li>
                                <li><a href="#">Personal</a></li>
                                <li><a href="#">Regulatory</a></li>
                                <li id="editDashboardBtn"><a href="#">Edit Dashboard</a></li>

                                <li><a href="#" class="createDashboard">New Dashboard</a></li>
                            </ul>
                        </li>*@
                        <li class="dropdown appsMenu">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">Jim Lewis<b class="caret"></b></a>
                        </li>
                    </ul>
                </div>
                <div class="bar"></div>
            </nav>
        </header><!--/.nav-collapse -->
        <!--Left Navigation Menu-->
        <div class="col-xs-2">
            <div class="menuLeft active">
                <div class="row">
                    <div class="col-md-12">
                        <div class="innerContent">
                            <div class="treeViewWrapper">
                                <div class="menu_left_head" title="Close Explorer">
                                    <h1>
                                        Explorer
                                        @*<span class="pull-right">
                                            <i class="fa fa-chevron-left" style="font-size: 15px; background-color:white; border:1px solid #D4D4D4; padding:8px;"></i>
                                        </span>*@
                                    </h1>
                                </div>
                            </div><!--Explorer Head-->

                            <div id="accordion" role="navigation">

                                <!--Search Documents-->
                                <form class="navbar-form" role="search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Documents" name="srch-term" id="srch-term">
                                        <div class="input-group-btn">
                                            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                        </div>
                                    </div>
                                </form> <!--End Search Documents Here-->

                                <div id="leftFolderStructure" class="noselect">
                                    <ul class='list-unstyled'></ul>
                                </div>

                            </div><!--End of Left Navigation-->
                        </div><!--div close out for 2-col -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-2">
                <div class="page-wrapper">
                    @RenderBody()
                </div>
            </div>
        </div><!--End of Document Listings-->
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <footer class="navbar-fixed-bottom">
                    <p>
                        <span style="margin-right:10px;">&copy; @DateTime.Now.Year SEI. All rights reserved.</span>
                        <span> | <a href="http://www.seic.com/enUS/93.htm">Privacy Policy</a></span>
                        <span> | <a href="~/Content/Termsofuse.pdf">Terms of Use</a></span>
                    </p>
                </footer>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <footer class="navbar-fixed-bottom">
                    <p>
                        <span style="margin-right:10px;">&copy; @DateTime.Now.Year SEI. All rights reserved.</span>
                        <span> | <a href="http://www.seic.com/enUS/93.htm">Privacy Policy</a></span>
                        <span> | <a href="~/Content/Termsofuse.pdf">Terms of Use</a></span>
                    </p>
                </footer>
            </div>
        </div>
    </div>

    @RenderSection("script", false)

    <script type="text/javascript">

                $(document).ready(function () {

                    var ajaxRequest; //defined globally so it can be used for aborting if needed

                    var getFolder = function (folderId) {

                        var url = "@ViewBag.AlfrescoApiUrl" + '/Folder/' + folderId;
                        ajaxRequest = $.get(url, function (data) {
                            var revisedData = data.Data;
                            
                            var html = "";
                            if (revisedData.length > 0) {
                                for (var i = 0; i < revisedData.length; i++) {
                                    
                                    switch (revisedData[i].Type) {
                                        case 'Document':
                                            break;
                                        default: //folders, and other aliased folder types
                                            html += "<li id='" + revisedData[i].Id + "' class='folder'> <span class='glyphicon glyphicon-folder-close'></span>"
                                                + "<span class='liTitle'>" + revisedData[i].Name + "</span>"
                                                + "<ul class='list-unstyled'></ul>" //empty UL for populating with children
                                                + "</li>";
                                            break;
                                    }
                                }
                            } else {
                                html += "<li style='margin-left:10px'><em>Empty Directory</em></li>";
                            }

                            if (folderId !== "") {
                                $("#" + folderId + " ul").append(html);
                            } else {
                                $("#leftFolderStructure ul").append(html);
                            }
                        });
                    };

                    getFolder("", ""); //root folder drawing

                    $("#leftFolderStructure").on("click", ".folder", function (event) {
                        ajaxRequest.abort(); //stop any running ajax requests from jamming us up
                        event.stopPropagation(); //prevent this action from echoing up the tree

                        var target = $(event.target).closest(".folder");

                        $("#leftFolderStructure").find(".liTitle").removeClass('selected'); //unselect all
                        target.children('.liTitle').addClass('selected'); //select this one

                        if (target.hasClass('opened')) {
                            target.find("ul").html("");
                            target.removeClass('opened');
                            target.children(".glyphicon").addClass("glyphicon-folder-close");
                            target.children(".glyphicon").removeClass("glyphicon-folder-open");

                        } else {
                            target.addClass('opened');
                            target.children(".glyphicon").removeClass("glyphicon-folder-close");
                            target.children(".glyphicon").addClass("glyphicon-folder-open");
                            getFolder(target.attr("id"));

                            //trigger a redraw of the folder detail grid on the right side of the page
                            drawFolderDetailGrid(target.attr("id"));
                        }
                    });

                //    // Left Navigation Toggle Function
                //    function toggleLeftNavigation() {
                //        // Toggle Active Class
                //        $(".menuLeft").toggleClass("active");
                //        $("#accordion").toggleClass("hidden");

                //        // Toggle Arrow
                //        $(".fa-chevron-left").toggleClass("fa-flip-horizontal");

                //    }

                //    //Close Toggle
                //    $(".menu_left_head").click(function () {
                //        $(".menuLeft .active").removeClass("active");
                //    });

                //    // Resize Events
                //    $(document).resize(function () { resizeElements(); });
                //    $(window).resize(function () { resizeElements(); });

                //    // Toggle Left Nav
                //    $(".menu_left_head").click(function () { toggleLeftNavigation(); });

                //    $("body").click(function (e) {
                //        // Target
                //        var target = $(e.target);

                //        // Default to false
                //        var isLeftMenu = false;

                //        // Find if the item or parents have menuLeft class
                //        target.parentsUntil("body").each(function () {
                //            if ($(this).hasClass("menuLeft")) {
                //                isLeftMenu = true;
                //            }
                //        });

                //        // If not left menu and menuLeft is active
                //        if (!isLeftMenu && $(".menuLeft.active").val() !== undefined) {
                //            toggleLeftNavigation();
                //        }
                //    });

                });

    </script>
</body>

</html>
