﻿/* /*Regular 
@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'Proxima Nova Regular';
    src: url('ProximaNova-Reg-webfont.eot');
    src:
        url('ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),
        url('ProximaNova-Reg-webfont.woff ') format('woff'), url('ProximaNova-Reg-webfont.ttf') format('truetype');
}

/* Bold 
@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'Proxima Nova Condensed Bold';
    src: url('ProximaNovaCond-Bold-webfont.eot');
    src:
        url('ProximaNovaCond-Bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('ProximaNovaCond-Bold-webfont.woff') format('woff'), url('ProximaNovaCond-Bold-webfont.ttf') format('truetype');
} */

/* Semi bold 
@font-face
{
    font-weight: normal;
    font-style: normal;
    font-family: 'Proxima Nova Condensed Semibold';
    src: url('ProximaNovaCond-SBold-webfont.eot');
    src:
        url('ProximaNovaCond-SBold-webfont.eot?#iefix ') format('embedded-opentype'),
        url('ProximaNovaCond-SBold-webfont.woff') format('woff'), url('ProximaNovaCond-SBold-webfont.ttf') format('truetype');
} 

*/