﻿@using Document_Repository.Models
@model LeftNavigationViewModel
        

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#@Model.ID">
                <span class="glyphicon glyphicon-folder-close">
                </span>@Model.Title
            </a>
        </h4>
    </div>

    @{
        if (Model.DocumentsExist)
        {
            <div id="@Model.ID" class="panel-collapse collapse">
                <div class="list-group">
                    @{
                        foreach (var doc in Model.Documents)
                        {
                            <a href="#" class="list-group-item">@doc.FileName</a>
                        }
                    }
            </div>
        </div>
        }
    }
    
</div>