﻿@using Document_Repository.Models
@model DocumentViewModel[]



<h2 class="page-header"> </h2>

<div id="grid">

</div>


<script>

    var documents = [{
        fileType: {icon : "fa fa-file-word-o"},
        fileName: "DocumentTitle123",
        fileDescription: "Description of Document goes here.",
        dateModified: "Jan 31 2015",
        fileAuthor: "John A. Hendrix",
        fileSize: "3MB",
        fileAction: "Copy Link | Share"
    },

    {
        fileType: "PDF",
        fileName: "DocumentTitle123",
        fileDescription: "Description of Document goes here.",
        dateModified: "Jan 31 2015",
        fileAuthor: "John A. Hendrix",
        fileSize: "3MB",
        fileAction: "Copy Link | Share"
    },
    {
        fileType: "PDF",
        fileName: "DocumentTitle123",
        fileDescription: "Description of Document goes here.",
        dateModified: "Jan 31 2015",
        fileAuthor: "John A. Hendrix",
        fileSize: "3MB",
        fileAction: "Copy Link | Share"
    },

    {
        fileType: "PDF",
        fileName: "DocumentTitle123",
        fileDescription: "Description of Document goes here.",
        dateModified: "Jan 31 2015",
        fileAuthor: "John A. Hendrix",
        fileSize: "3MB",
        fileAction: "Copy Link | Share"
    },

    {
        fileType: "PDF",
        fileName: "DocumentTitle123",
        fileDescription: "Description of Document goes here.",
        dateModified: "Jan 31 2015",
        fileAuthor: "John A. Hendrix",
        fileSize: "3MB",
        fileAction: "Copy Link | Share"
    }
 ];


    $(function () {
        $("#grid").kendoGrid({
            columns: [{ title: "Type", field: "fileType", width: 60},
                      { title: "Name", field: "fileName", width: 125 },
                      { title: "Description", field: "fileDescription", width: 200 },
                      { title: "Modified", field: "dateModified", width: 175 },
                      { title: "Author", field: "fileAuthor", width: 150 },
                      { title: "Size", field: "fileSize", width: 50 },
                      { title: "Action", field: "fileAction", width: 100 }],
            dataSource: {
                data: documents,
                pageSize: 10
            },
            height: 550,
            scrollable: true,
            pageable: true,
            sortable: true


        });
    });


</script>