﻿
@{
    ViewBag.Title = "Home";
}

<h2 id="folderTitle">Select a folder</h2>

<div id="grid">


</div>
<script type="text/javascript">

    function drawFolderDetailGrid(folderId) {

        $("#folderTitle").html($(".selected").text());

        var url = '@ViewBag.AlfrescoApiUrl/Folder/' + folderId;
        $.get(url, function (data) {

            var revisedData = data.Data;
            
            $("#grid").kendoGrid({
                dataSource: {
                    data: revisedData,
                    schema: {
                        model: {
                            fields: {
                                Id: { type: "string" },
                                Name: { type: "string" },
                                Type: { type: "string" },
                                CreatedAt: { type: "string" },
                                CreatedBy: { type: "string" },
                                ModifiedAt: { type: "string" },
                                ModifiedBy: { type: "string" },
                                DownloadLink: { type: "string" }
                            }
                        }
                    },
                    pageSize: 20
                },
                height: 525,
                sortable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                    buttonCount: 5
                },
                columns:
                [
                    {
                        field: "Type",
                        title: " ",
                        template: "<span class='objectIcon'>${Type}</span>",
                        width: 28
                    },
                    {
                        field: "Name",
                        title: "Name",
                        template: "<span class='docNameCell' id='${Id}' style='cursor:pointer;'><a href='@ViewBag.AlfrescoApiUrl/Document/${Id}' target='_self'>${Name}</a></span>",
                        width: 500
                    },
                    {
                        field: "CreatedAt",
                        title: "Created At",
                        width: 150
                    },
                    {
                        field: "CreatedBy",
                        title: "Owner"
                    },
                    {
                        field: "ModifiedAt",
                        title: "Last Modified",
                        width: 150
                    },
                    {
                        field: "ModifiedBy",
                        title: "Modified By"
                    },
                    {
                        field: "DownloadLink",
                        title: "Actions",
                        template: "<a href='@ViewBag.AlfrescoApiUrl/Document/${Id}' target='_self'>Download</a>"
                    },
                    ]
                    });

                function replaceIcons() {

                    if ($(".docNameCell:contains('.html')").length > 0) {
                        $(".docNameCell:contains('.html')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-code-o'></span>");
                    }

                    if ($(".docNameCell:contains('.pdf')").length > 0) {
                        $(".docNameCell:contains('.pdf')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-pdf-o'></span>");
                    }

                    if ($(".docNameCell:contains('.xls')").length > 0) {
                        $(".docNameCell:contains('.xls')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-excel-o'></span>");
                    }

                    if ($(".docNameCell:contains('.xlsx')").length > 0) {
                        $(".docNameCell:contains('.xlsx')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-excel-o'></span>");
                    }

                    if ($(".docNameCell:contains('.doc')").length > 0) {
                        $(".docNameCell:contains('.doc')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-word-o'></span>");
                    }

                    if ($(".docNameCell:contains('.docx')").length > 0) {
                        $(".docNameCell:contains('.docx')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-word-o'></span>");
                    }

                    if ($(".docNameCell:contains('.png')").length > 0) {
                        $(".docNameCell:contains('.png')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-image-o'></span>");
                    }

                    if ($(".docNameCell:contains('.jpg')").length > 0) {
                        $(".docNameCell:contains('.jpg')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-image-o'></span>");
                    }

                    if ($(".docNameCell:contains('.jpeg')").length > 0) {
                        $(".docNameCell:contains('.jpeg')").closest("tr").find('.objectIcon').html("<span class='fa fa-file-image-o'></span>");
                    }
                }

                $(".objectIcon:contains('Folder')").html("<span class='glyphicon glyphicon-folder-close'></span>");
                $(".objectIcon:contains('Publishing Environment')").html("<span class='glyphicon glyphicon-folder-close'></span>");
                $(".objectIcon:contains('Document')").html("<span class='glyphicon glyphicon-file'></span>");

                replaceIcons();

                $("#grid").on("click", function () {
                    $("td:contains('Folder')").html("<span class='glyphicon glyphicon-folder-close'></span>");
                    $("td:contains('Publishing Environment')").html("<span class='glyphicon glyphicon-folder-close'></span>");
                    $(".objectIcon:contains('Document')").html("<span class='glyphicon glyphicon-file'></span>");
                    replaceIcons();
                });

                $(".docNameCell").each(function (index, object) {

                    var objectId = $(object).attr("id");

                    //some ids have an id string, then a colon, then a version # that we don't want
                    if (objectId.indexOf(";") > -1) {
                        var parts = objectId.split(";");
                        $(object).attr("id", parts[0]); //returns the part of the id before the semicolon
                    }

                    //some ids have a workspace file directory that we don't want, then an id #
                    if (objectId.indexOf("/") > -1) {
                        var parts = objectId.split("/");
                        $(object).attr("id", parts[3]); //we want the last part
                    }
                });

                $(".docNameCell").on("click", function (event) {
                    var thisElement = $(event.target);
                    $("#accordion").find("#" + thisElement.attr("id")).click(); //clicks this folder in left nav
                });

                });
                }
</script>